[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "philentropy"]
	path = philentropy
	url = https://github.com/drostlab/philentropy
