[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "myTAI"]
	path = myTAI
	url = https://github.com/drostlab/mytai
	shallow = true
	registered = true
[submodule "philentropy"]
	path = philentropy
	url = https://github.com/drostlab/philentropy
	shallow = true
	registered = true
